


@media screen and (max-width:1440px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:740px){}
@media screen and (max-width:425px){
        
    .contact-title {
        padding: 20px 10px ;
        font-size: 1.6rem;
    }
    
    .container-1 {
        padding: 0px;
    }
    
    .container-1 h1 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
 
    .social-handles li a i {
        margin: 0px 10px 20px 10px;
        font-size: 2.2rem;
    }
    
    .container-2 input {
        width: 85%;
        font-size: 1rem;
        padding: 13px;
   
    }
    
    .container-2 textarea {
    
        font-size: .9rem;
        width: 85%;
    
    }
    
}
@media screen and (max-width:375px){}
@media screen and (max-width:320px){}



/* 
@media screen and (max-width:1440px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:740px){}
@media screen and (max-width:425px){}
@media screen and (max-width:375px){}
@media screen and (max-width:320px){} */