










 
@media screen and (max-width:1440px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:740px){}
@media screen and (max-width:425px){
    
    .skills-title {    
        padding: 10px;
        font-size: 1.6rem;
    }
    
    .skillsContainer {
    width: 95%;
    padding: 10px 0px;
    }
    
    .skillBox {
        align-items: center; 
        justify-content: space-around;
        width: 100%;
    }
    
    .skillBoxLeft {
        width: fit-content;
    }
    
    .skillBoxLeft .title {
        font-size: 1rem;
    }
    
    .skillBoxCenter {
        width: 40%;
    }
        
    .skillBoxCenter .skillBar {
        width: 100%;
    
    }
    .skillBoxRight {
    
        font-size: .9rem;
        padding: 4px 12px;
    }
    
    
    
}
@media screen and (max-width:375px){}
@media screen and (max-width:320px){} 















/* 
@media screen and (max-width:1440px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){}
@media screen and (max-width:740px){}
@media screen and (max-width:425px){}
@media screen and (max-width:375px){}
@media screen and (max-width:320px){} */